<html>
    <head>
        <title>
            Star Marketing LTD
        </title>
        </head>

    <body>
        <h1 style="color: green;"> Choose your marketing option</h1>
        <label>
            <input type="checkbox" name="door"> Door to Door Marketing<br>
            <input type="checkbox" name="digital"> Digital Marketing<br>
            <input type="checkbox" name="socialmedia"> Social Media Marketing<br>
            <input type="checkbox" name="email"> Email Marketing<br>
            
        </label>
    </body>    

</html>